<% if @message %>
  <p><%= @message %></p>
<% end %>

<% if @user.admin %>
  <h1>ADMIN</h1>
<% end %>

Name: <%= @user.name %>
Height: <%= @user.height %>
Happiness: <%= @user.happiness %>
Tickets: <%= @user.tickets %>
Mood: <%= @user.mood %>

<%= link_to "See attractions", attractions_path %>
